/* Style the custom-popup-form container */
#tapacode-custom-overlay {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: top 0.5s ease-in-out;
}
#tapacode-custom-overlay.open {
    top: 0;
}
#tapacode-custom-overlay #custom-form-success {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    color: #212121;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 85vh;
    z-index: 10000;
    transition: top 0.5s ease-in-out;
}
#tapacode-custom-overlay #custom-form-success.open {
    display: block;
}
#tapacode-custom-overlay #custom-popup-form {
    display: none;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #4C6B89;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 85vh;
    z-index: 10000;
    transition: top 0.5s ease-in-out;
    max-width: 600px; /* Add this line to set the maximum width */
}
#tapacode-custom-overlay  #custom-popup-form input[type="radio"],
#tapacode-custom-overlay  #custom-popup-form label {
  width: 20px; /* Set an appropriate width */
}
#tapacode-custom-overlay  #custom-popup-form.open {
    display: block;
}
#tapacode-custom-overlay .radio-group {
    display: flex;
    justify-content: space-between;
 }
 #tapacode-custom-overlay .radio-group.even {
    justify-content: space-evenly;
 }
 #tapacode-custom-overlay  .radio {
    text-align: center;
    width: 20%;
    display: flex;
    align-items: center; 
    flex-direction: column;
 }
 .hidden {
    display: none!important;
 }

/* Line up the form elements */
#tapacode-custom-overlay  #custom-popup-form label,
#tapacode-custom-overlay  #custom-popup-form input,
#tapacode-custom-overlay  #custom-popup-form textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
}
#tapacode-custom-overlay #custom-popup-form label.label-small {
    font-size: 0.9rem;
}
#tapacode-custom-overlay  #custom-popup-form label {
    font-size: 1.4rem;
}
/* Style the submit button */
#tapacode-custom-overlay #custom-popup-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hide the feedback containers by default */
#tapacode-custom-overlay  #ease-of-use-feedback-container,
#tapacode-custom-overlay  #quality-of-info-container,
#tapacode-custom-overlay  #consideration-of-competition-container {
    display: none;
}
#tapacode-custom-overlay .question { 
    margin: 25px 0;
    padding: 15px;
    background: #ffffff24;
    color: #fff;
}
#tapacode-custom-overlay .popup-open {  
    overflow: hidden;
}
#tapacode-custom-overlay  .popup-header {
    border-bottom: 1px solid #ddd;
}
#tapacode-custom-overlay  .popup-header h2 {
    margin-right: 35px;
}
#tapacode-custom-overlay  .popup-subheader p {
  color: #ddd;
}
#tapacode-custom-overlay  #close-popup-button {
    border-color: black;
    position: absolute;
    top: 0;
    font-size: 2rem;;
    right: 0;
    height: 50px;
    width: 50px;
    border: none;
    color:rgb(255, 255, 255);
    padding:0;
    border-radius: 0 0 0 10px;
}
#tapacode-custom-overlay #close-popup-button:hover, 
#tapacode-custom-overlay  #close-popup-button:focus {
    background-color: #4C6B89;
    color: #fff;
    border-radius: 30px;;
}
#tapacode-custom-overlay  .question.selected {
    background-color: #FFF;
    color: #000;
}
#tapacode-custom-overlay  #close-success-button {
    color: #fff;
    border-color: #4c6b89;
    border-radius: 30px;
}
#tapacode-custom-overlay  #close-success-button:hover {
    background-color: #668baf;
    color: #fff;
}
/* Style the custom-popup-form container to be full width on small screens */
@media (max-width: 600px) {
    #tapacode-custom-overlay  #custom-popup-form.open {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        max-height: 100vh;
        max-width: 600px; /* Add this line to set the maximum width */
    }
    #tapacode-custom-overlay  #custom-form-success {
        max-width: 80%;
    }
}